.city {
    display: flex;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.8rem;
    padding: 0.5rem;
   
    & i {
    font-size: 2rem;
    color: #353535;
     }
    & h2{
        font-weight: 500;
        color: #353535;
     }
}