
.explore {
    text-align: center;
    background-color: $lightgrey;
    padding-bottom: 8rem;
     h2{
    padding-top: 6rem;
    font-size: 50px;
    margin: 0;
    }
     p{
    font-size: 28px;
    font-weight: 300;
    margin-left: 4rem;
    margin-right: 4rem;
    color: $grey-font;
    }
     button{
    font-family: "Roboto";
    margin-top: 3rem;
    color: white;
    font-size: 2.5rem;
    padding: 2.5rem 4rem;
    border: none;
    border-radius: 5rem;
    @include base-shadow;
    background-image: linear-gradient(to top,$purple,$pink);
        &:hover{
            @include big-shadow;
            background-image: linear-gradient(to top,$light-purple,$light-pink ); 
        }
}

}