.explore {
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 8rem;
 h2{
    padding-top: 6rem;
    font-size: 50px;
    margin: 0;
}
p{
    font-size: 31px;
    font-weight: 300;
    margin-left: 4rem;
    margin-right: 4rem;
    color:#4d4d4d;
}

 button{
    font-family: "Roboto";
    margin-top: 3rem;
    color: white;
    font-size: 2.5rem;
    padding: 2.5rem 4rem;
    border: none;
    border-radius: 5rem;
    box-shadow: 2px 1px 16px -3px black;
    background-image: linear-gradient(to top,#9356DC,#FF79DA );
}

}