footer{
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;   
    padding-left: 5rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
     h3{
    margin: 0 0 1rem 0;
        color: white;
    font-size: 3rem;
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
    }
     a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    }
     i{
        margin-right: 1rem;
    }
     .fa-handshake-angle{
        font-size: 1.7rem;
    }
}