.restaurants{
    background-color: $lightgrey;
    margin-top: 8rem;
    padding-bottom: 5rem;
     h2{
        padding-top: 7rem;
        margin-left: 2rem;
        font-size: 2rem;
    }
     .restaurants-cards{
        background-color: $lightgrey;
        margin-top: 5rem;
        margin: 5rem;
        gap: 5rem;
        display: flex;
        flex-direction: column;
        
    }
     .card{
        @include base-shadow;
        border-radius: 0 0 2rem 2rem;
    }
     img{
        border-radius: 2rem 2rem 0 0 ;
        width: 100%;
        height: 23rem;
        object-fit: cover;
    }
    a{
    text-decoration: none;
    color: black;
   }
     h3{
            font-size: 2.7rem;
            margin: 2rem 0 0rem 2rem;
            padding: 0;
        }
     p{
        font-size: 2rem;
            margin: 0 0 2rem 2rem;
            padding: 0;
            font-family: "Roboto";
    }
    
     .card__description{
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: space-between;
    }
     .fa-heart{
        font-size: 4rem;
    }
    .restaurants-cards--new{
        position: relative;
    }
    .restaurants-cards--new::before{
        content:"Nouveau";
        border-radius: 0.5rem;
        padding: 1rem 1rem 0rem 1rem;
        font-size: 2rem;
        font-weight: 500;
        position: absolute;
        height: 4rem;
        width: 10rem;
        background-color: $green;
        color: $dark-green;
         text-align: center;
        right: 1.5rem;
        top: 1rem;
    }
    .icons {
		position: relative;
		width: 1.25rem;
		height: 2.6rem;
     i {
		position: absolute;
		bottom: 0;
		right: 0;
	   	
    }
	.icon-default {
        transition: opacity 1s;
        color: black;
		}
        
	.icon-hover {
        transition: opacity 1s;
        opacity: 0;
        color: transparent;
        background-image: linear-gradient(to top,$purple,$pink );
        background-clip: text;
        -webkit-background-clip: text;
		}
     &:hover {
            
        .icon-hover {
               opacity: 1;
            }
        .icon-default {
        opacity: 0;
            }
        }
	}

	

}