
.tutorial{
    & ol{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-right: 4rem;
        margin-left: 2rem;
    }
    & li {
        background-color: #f6f6f6;
        padding: 4rem 2rem;
        font-size: 2.5rem;
        border-radius: 3rem;
        @include base-shadow;
        text-align: center;
        font-weight: 600;
        list-style-type: none;
        
    }
    & h3{
        padding-left: 2rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        font-size: 2rem;
    }
    & i{
        text-align: center;
        padding-right: 5rem;
        margin-left: -10rem;
        color: #7e7e7e;
        font-size: 3rem;
    }
    & span{
        background-color: #9356dc;
        border-radius: 50%;
        position: relative;
        left: -220px;
        padding: 1rem 1.8rem;
        color: white;
        font-size: 2rem;
        font-weight: 400;
    }
}