@import "./utils/color.scss";
@import "./utils/box-shadow.scss";
@import "./base.scss";
@import "./layout/header.scss";
@import "./layout/city.scss";
@import "./layout/explorer.scss";
@import "./layout/tutorial.scss";
@import "./layout/restaurants.scss";
@import "./layout/footer.scss";
@import "./pages/page-restaurant-main.scss";


