@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:wght@300;400;500&display=swap');

body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0px 3px 3px 1px grey;
    padding: 0.3rem;
    position: relative;
}

main .city {
    display: flex;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.city i {
    font-size: 1.5rem;
}

.explore {
    text-align: center;
}

.explore h2{
    margin-top: 2rem;
    font-size: 2rem;
}

.explore p{
    font-size: 1rem;
}

.explore button{
    margin-top: 1.5rem;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 2px 1px 16px -3px black;
    background-image: linear-gradient(to top,#FF79DA , #9356DC );
}

