@mixin base-shadow {
    box-shadow: 0px 10px 13px -7px #252525, 0px 10px 19px 2px rgba(0,0,0,0.01);
}

@mixin big-shadow {
    box-shadow: 0px 10px 13px -7px #252525, 0px 10px 19px 2px rgba(0,0,0,0.66);
}