.restaurants{
    background-color: $lightgrey;
    margin-top: 4rem;
    padding-bottom: 5rem;
    @media (min-width: 1100px){
        padding-left: 8rem; 
        padding-right: 8rem;
    }
    
    @media (min-width:768px){
        padding-left: 5rem;
        padding-right: 5rem;
    }
     h2{
        padding-top: 3.5rem;
        margin-left: 2rem;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .restaurants-cards{
        background-color: $lightgrey;
        margin-top: 5rem;
        margin: 1rem;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
          flex-direction: row;
          flex-grow: 10;
          flex-wrap: wrap;
         }
        @media (min-width: 1100px) {
            gap: 3rem;
            margin-left: 3rem;
            margin-right: 3rem;
            }
        
    }
    .card{
        @include base-shadow;
        border-radius: 0 0 1rem 1rem;
        @media (min-width: 768px) {
            flex-grow: 10;
            flex-basis: 40%;
           }
        
    }
    img{
        border-radius: 1rem 1rem 0 0 ;
        width: 100%;
        height: 11rem;
        object-fit: cover;
        @media (min-width: 1100px) {
           height: 16rem;
           }
    }
    a{
    text-decoration: none;
    color: black;
    }
    h3{
            font-size: 1.2rem;
            margin: 1rem 0 0.2rem 1rem;
            padding: 0;
        }
    p{
        font-size: 1rem;
            margin: 0 0 1rem 1rem;
            padding: 0;
            font-family: "Roboto";
    }
    .card__description{
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: space-between;
    }
    .fa-heart{
        font-size: 4rem;
    }
    .card--new{
        position: relative;
    }
    .card--new::before{
        content:"Nouveau";
        border-radius: 0.5rem;
        padding: 0.9rem 0.3rem 0rem 0.3rem;
        font-size: 0.8rem; 
        font-weight: 500;
        position: absolute;
        height: 2rem;
        width: 5rem;
        background-color: $green;
        color: $dark-green;
         text-align: center;
        right: 1.5rem;
        top: 1rem;
        z-index: 10;
    }
    @include heart;
    i{
        margin-right: 2rem;
    }

	

}