
.tutorial{
   
    ol{
        
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-right: 1.2rem;
        margin-left: -1.2rem;
        @media (min-width:1100px) {
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 5rem;
            padding-right: 5rem;
           }
    }
     li {
        background-color: #f6f6f6;
        padding: 1.8rem 1rem;
        font-size: 1rem;
        border-radius: 1.5rem;
        @include base-shadow;
        font-weight: 600;
        list-style-type: none;
        @media (min-width: 768px) {
            flex-grow: 10;
            flex-basis: 20%;
            margin-left: 10rem;
            margin-right: 10rem;
           }
           @media (min-width:1100px){
            margin-left: 0rem;
            margin-right: 0rem;
           }
           transition: background-color 1s;
           
           
           &:hover{
            
            .fa-solid{
                 color: #9356dc;
             }
            
                 background-color: #f5edff;
              } 
        
    }
   
    h3{
        padding-left: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.4rem;
        
        @media (min-width:768px){
            margin-left: 10rem;
            margin-top: 0.5rem;
            margin-bottom: -0.5rem;
        }
        @media (min-width:1100px){
            margin-left: 5rem;
        }
    }
     i{
        text-align: center;
        padding-right: 2rem;
        margin-left: -4rem;
        color: #7e7e7e;
        font-size: 1rem;
        padding-left: 4rem;
        
    }
     span{
        background-color: #9356dc;
        border-radius: 50%;
        position: relative;
        left: -30px;
        padding: 0.5rem 0.8rem;
        color: white;
        font-size: 0.7rem;
        font-weight: 400;
       
    }
     .two{
     left: -30px;
    }
     
    
}