@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:wght@300;400;500&display=swap");
@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 0px 20px 5px #cfcfcf;
  padding: 0.1rem;
  position: relative;
  font-size: 0.8rem;
}
header h1 {
  margin: 0.6rem;
}

.city {
  display: flex;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.7rem;
  padding: 0rem;
}
.city i {
  font-size: 1rem;
  color: #353535;
}
.city h2 {
  font-weight: 500;
  color: #353535;
}

.explore {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 4rem;
}
@media (min-width: 768px) {
  .explore {
    padding-bottom: 2rem;
  }
}
.explore h2 {
  padding-top: 2.4rem;
  font-size: 1.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .explore h2 {
    padding-top: 1.2rem;
  }
}
.explore p {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #4d4d4d;
}

.tutorial ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 1.2rem;
  margin-left: -1.2rem;
}
@media (min-width: 1100px) {
  .tutorial ol {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.tutorial li {
  background-color: #f6f6f6;
  padding: 1.8rem 1rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 7px -7px #414141, 0px 10px 19px 2px rgba(0, 0, 0, 0.01);
  font-weight: 600;
  list-style-type: none;
  transition: background-color 1s;
}
@media (min-width: 768px) {
  .tutorial li {
    flex-grow: 10;
    flex-basis: 20%;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
@media (min-width: 1100px) {
  .tutorial li {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
.tutorial li:hover {
  background-color: #f5edff;
}
.tutorial li:hover .fa-solid {
  color: #9356dc;
}
.tutorial h3 {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .tutorial h3 {
    margin-left: 10rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
  }
}
@media (min-width: 1100px) {
  .tutorial h3 {
    margin-left: 5rem;
  }
}
.tutorial i {
  text-align: center;
  padding-right: 2rem;
  margin-left: -4rem;
  color: #7e7e7e;
  font-size: 1rem;
  padding-left: 4rem;
}
.tutorial span {
  background-color: #9356dc;
  border-radius: 50%;
  position: relative;
  left: -30px;
  padding: 0.5rem 0.8rem;
  color: white;
  font-size: 0.7rem;
  font-weight: 400;
}
.tutorial .two {
  left: -30px;
}

.restaurants {
  background-color: #f6f6f6;
  margin-top: 4rem;
  padding-bottom: 5rem;
}
@media (min-width: 1100px) {
  .restaurants {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 768px) {
  .restaurants {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.restaurants h2 {
  padding-top: 3.5rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.restaurants .restaurants-cards {
  background-color: #f6f6f6;
  margin-top: 5rem;
  margin: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .restaurants .restaurants-cards {
    flex-direction: row;
    flex-grow: 10;
    flex-wrap: wrap;
  }
}
@media (min-width: 1100px) {
  .restaurants .restaurants-cards {
    gap: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.restaurants .card {
  box-shadow: 0px 5px 7px -7px #414141, 0px 10px 19px 2px rgba(0, 0, 0, 0.01);
  border-radius: 0 0 1rem 1rem;
}
@media (min-width: 768px) {
  .restaurants .card {
    flex-grow: 10;
    flex-basis: 40%;
  }
}
.restaurants img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 11rem;
  object-fit: cover;
}
@media (min-width: 1100px) {
  .restaurants img {
    height: 16rem;
  }
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants h3 {
  font-size: 1.2rem;
  margin: 1rem 0 0.2rem 1rem;
  padding: 0;
}
.restaurants p {
  font-size: 1rem;
  margin: 0 0 1rem 1rem;
  padding: 0;
  font-family: "Roboto";
}
.restaurants .card__description {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
}
.restaurants .fa-heart {
  font-size: 4rem;
}
.restaurants .card--new {
  position: relative;
}
.restaurants .card--new::before {
  content: "Nouveau";
  border-radius: 0.5rem;
  padding: 0.9rem 0.3rem 0rem 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #277e68;
  text-align: center;
  right: 1.5rem;
  top: 1rem;
  z-index: 10;
}
.restaurants .icons {
  position: relative;
  width: 0.6rem;
  height: 1.3rem;
}
.restaurants .icons i {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.restaurants .icons .icon-default {
  transition: opacity 1s;
  color: black;
}
.restaurants .icons .icon-hover {
  transition: opacity 1s;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurants .icons:hover .icon-hover {
  opacity: 1;
}
.restaurants .icons:hover .icon-default {
  opacity: 0;
}
.restaurants .icons {
  position: relative;
  width: 0.6rem;
  height: 1.3rem;
}
.restaurants .icons i {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.restaurants .icons .icon-default {
  transition: opacity 1s;
  color: black;
}
.restaurants .icons .icon-hover {
  transition: opacity 1s;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurants .icons:hover .icon-hover {
  opacity: 1;
}
.restaurants .icons:hover .icon-default {
  opacity: 0;
}
.restaurants i {
  margin-right: 2rem;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  footer {
    padding-left: 3rem;
  }
}
@media (min-width: 1100px) {
  footer {
    padding-left: 8rem;
  }
}
footer h3 {
  margin: 0 0 1rem 0;
  color: white;
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
footer i {
  margin-right: 1rem;
}
footer .fa-handshake-angle {
  font-size: 0.7rem;
}

.main-menu {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-menu {
    flex-direction: row;
    justify-content: center;
    margin-top: -2rem;
    gap: 1rem;
  }
  .main-menu h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1100px) {
  .main-menu {
    margin-left: 10%;
    margin-right: 10%;
  }
}

header {
  position: relative;
}
header a {
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}

img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  background-color: #f6f6f6;
}
@media (min-width: 1100px) {
  .order {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.order button {
  width: 12rem;
}

.menu-part {
  flex-basis: 30%;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 3rem;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}
.menu-part h3 {
  border-bottom: 3px solid #99E2D0;
  margin-right: 80%;
  font-weight: 300;
  padding-bottom: 0.5rem;
  margin-top: 0rem;
  margin-left: 1.2rem;
}
@media (min-width: 768px) {
  .menu-part h3 {
    margin-top: 2rem;
    margin-right: 0rem;
  }
}

.menu-list {
  animation: appear 1s;
  animation-fill-mode: both;
  margin-top: -2rem;
}
.menu-list:nth-child(1) {
  animation-delay: 100ms;
}
.menu-list:nth-child(2) {
  animation-delay: 200ms;
}
.menu-list:nth-child(3) {
  animation-delay: 300ms;
}
.menu-list:nth-child(4) {
  animation-delay: 400ms;
}
.menu-list:nth-child(5) {
  animation-delay: 500ms;
}

.banner-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem 2rem 0rem 0rem;
  background-color: #f6f6f6;
  padding-top: 0.5rem;
  margin-top: -3rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 10;
}
.banner-menu .icons {
  position: relative;
  width: 0.6rem;
  height: 1.3rem;
}
.banner-menu .icons i {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.banner-menu .icons .icon-default {
  transition: opacity 1s;
  color: black;
}
.banner-menu .icons .icon-hover {
  transition: opacity 1s;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.banner-menu .icons:hover .icon-hover {
  opacity: 1;
}
.banner-menu .icons:hover .icon-default {
  opacity: 0;
}
.banner-menu .icons {
  position: relative;
  width: 0.6rem;
  height: 1.3rem;
}
.banner-menu .icons i {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.banner-menu .icons .icon-default {
  transition: opacity 1s;
  color: black;
}
.banner-menu .icons .icon-hover {
  transition: opacity 1s;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.banner-menu .icons:hover .icon-hover {
  opacity: 1;
}
.banner-menu .icons:hover .icon-default {
  opacity: 0;
}
.banner-menu h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .banner-menu h2 {
    margin-left: 3rem;
  }
}
.banner-menu i {
  margin-right: 1.5rem;
}
@media (min-width: 1100px) {
  .banner-menu {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.menu-cards {
  flex-grow: 10;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 7px -7px #414141, 0px 10px 19px 2px rgba(0, 0, 0, 0.01);
  background-color: white;
  overflow: hidden;
}
.menu-cards p {
  margin-right: 1rem;
}
.menu-cards .menu-cards__description {
  margin-left: 1rem;
  overflow: hidden;
}
.menu-cards .menu-cards__description h4 {
  margin-bottom: -0.7rem;
  margin-top: 0.7rem;
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-cards .menu-cards__description p {
  margin-bottom: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-cards .menu-card__price {
  display: flex;
  align-items: center;
}
.menu-cards .menu-card__check {
  padding: 1.4rem 1.2rem;
  background-color: #99E2D0;
  margin-right: -4.3rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menu-cards .menu-card__check i {
  font-size: 1.5rem;
  color: white;
}
.menu-cards:hover .menu-card__check {
  margin-right: 0;
}
.menu-cards:hover i {
  animation: spin 0.8s ease;
}

button {
  font-family: "Roboto";
  margin-top: 1rem;
  color: white;
  font-size: 1rem;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 5rem;
  box-shadow: 0px 5px 7px -7px #414141, 0px 10px 19px 2px rgba(0, 0, 0, 0.01);
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  transition: all 2s;
}
button:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 7px -7px #252525, 0px 10px 19px 2px rgba(0, 0, 0, 0.66);
  background-image: linear-gradient(to top, #a67fd6, #faade4);
}

.loader {
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disappear 1s 2s;
  animation-fill-mode: forwards;
}
.loader .lds-roller {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.loader .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loader .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
}
.loader .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.loader .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
  background: #99E2D0;
}
.loader .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.loader .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
  background: #99E2D0;
}
.loader .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.loader .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
  background-image: linear-gradient(to right, #FF79DA, #99E2D0);
}
.loader .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.loader .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
  background: #FF79DA;
}
.loader .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.loader .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
  background: #FF79DA;
}
.loader .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.loader .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
}
.loader .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.loader .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
  background: #9356DC;
}
.loader .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.loader .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
  background: #9356DC;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

/*# sourceMappingURL=style.css.map */
