button{
    font-family: "Roboto";
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 5rem;
    @include base-shadow;
    background-image: linear-gradient(to top,$purple,$pink);
    cursor:pointer; 
    transition: all 2s;   
    &:hover{
        transform: scale(1.02);   
        @include big-shadow;
            background-image: linear-gradient(to top,$light-purple,$light-pink ); 
        }
}