.city {
    display: flex;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.7rem;
    padding: 0rem;
   
     i {
    font-size:1rem;
    color: #353535;
     }
     h2{
        font-weight: 500;
        color: #353535;
     }
}