header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0px 0px 20px 5px #cfcfcf;
    padding: 0.1rem;
    position: relative;
    font-size: 0.8rem;
     h1{
        margin: 0.6rem;
       
    }
    
}